# Dependencies
node_modules/

# Build outputs
dist/
.angular/
*/dist/

# Logs
*.log
*.log.*

# Database
*.sqlite
*.sqlite3

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-workspace

# Misc
coverage/
